@import url(/src/assets/css/roots.css);
@import url(/src/assets/css/basic-styles.css);
/* 
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.logo small {
  font-size: xx-small;
} */
